.Rproj.user
.Rhistory
.Ruserdata
wooldridge.Rproj
R data sets for 5e/
Data Sets- R/
Wooldridge-5th.zip
Wooldridge-6th.zip
Jeffrey_M._Wooldridge_Introductory_Econometrics_A_Modern_Approach__2012.pdf
data/WooldridgeDataSetHandbook_5e.pdf
Appendex_notes.txt
devscripts/
cengage/
